<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    
      <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="612px" height="792px" viewBox="100 200 500 400" enable-background="new 0 0 612 792" xml:space="preserve">
       <path fill-rule="evenodd" clip-rule="evenodd" d="M517.642,554.979c14.405,0,21.031-3.169,24.489-5.186l4.897,14.117
      c-6.05,3.168-15.846,6.338-32.267,6.338c-25.353,0-38.029-13.541-38.029-40.333V427.928H452.82V416.98l23.912-3.457l4.609-41.198
      h12.1v41.198h43.791v14.405h-43.791v99.97C493.441,547.201,502.949,554.979,517.642,554.979z M405.579,465.957
      c0-25.641-12.964-39.757-36.588-39.757c-21.319,0-37.453,14.117-43.214,30.25v112.358h-16.71V413.523h12.388l3.746,16.998h1.152
      c2.881-4.034,18.438-19.879,44.943-19.879c31.115,0,50.129,16.998,50.994,51.282v106.884h-16.71V465.957z M343.485,307.409
      c-22.177,0-40.154-17.977-40.154-40.154s17.978-40.154,40.154-40.154c22.176,0,40.154,17.978,40.154,40.154
      S365.661,307.409,343.485,307.409z M284.483,345.187c-13.802,0-24.991-11.189-24.991-24.992c0-13.802,11.189-24.991,24.991-24.991
      s24.991,11.189,24.991,24.991C309.475,333.998,298.286,345.187,284.483,345.187z M242.668,377.404
      c-9.072,0-16.427-7.354-16.427-16.426c0-9.073,7.354-16.427,16.427-16.427s16.427,7.354,16.427,16.427
      C259.095,370.049,251.74,377.404,242.668,377.404z M160.421,463.076c0-20.455-10.947-36.876-34.283-36.876
      c-24.488,0-40.046,15.557-45.52,30.25v112.358h-16.71V343.869l16.71,13.519v73.998h1.152c3.457-4.61,17.574-20.744,46.096-20.744
      c29.674,0,49.265,19.303,49.265,50.129v108.037h-16.71V463.076z M252.317,568.808h-16.709V424.104l16.709-14.36V568.808z"/>
    </svg>
    <div class="text-center row">
      <div class="col-sm-12">
        <h1>home insights <br> you can act on.</h1>
        <div class="button-group">
          
         <a href="#contact" du-smooth-scroll class="button">Reserve Your Hint</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <a href="#first" du-smooth-scroll class="button more">Learn More About Hint <span class="fa fa-chevron-down"></span></a>
    </div>
  </div>
</header>


<section class="three" id="first">
  <div class="container">
    <h2>Stay a step ahead.</h2>
    <!-- <p class="sub">Hint pairs real-time data with home repair experts to help you keep your home healthy and running like normal.</p>    -->
    <p class="sub">Hint keeps you informed so your home can be healthy and run smoothly. It's like having a home repair expert around 24/7.</p>
    <div class="row">
      <div class="col-sm-4">
        <span class="fa fa-flag-o"></span>
        <h4>Early Warnings</h4>
        <p>Hint can sense when things aren't working like they should, letting you know to get involved.</p>
      </div>      
      <div class="col-sm-4">
        <span class="fa fa-exclamation-triangle"></span>
        <h4>Real-time Feedback</h4>
        <p>Hint will text or call you when an urgent action is needed, giving you the advantage of time.</p>
      </div>      
      <div class="col-sm-4">
        <span class="fa fa-leaf"></span>
        <h4>Efficiencies</h4>
        <p>Over time, Hint will help you and your home become more effective for long term savings.</p>
      </div>
    </div>
  </div>
</section>

<section class="hintbox">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <h2>Everyone could use a little Hint.</h2>
        <p>It's tough to stay on top of everything, that's why we created Hint. </p>
        <p>We've paired real-time data and home repair experts to help you keep your home in shape.</p>
        <a href="#hintstack" du-smooth-scroll class="button">Meet the Hint Stack</a>
      </div>
    </div>
  </div>
</section>







<section class="three green">
  <div class="container">
    <h2>Repairs you can handle.</h2>
    <p class="sub">When you get a notification, Hint helps you take action, giving you options on getting your home back up and running.</p>
    <div class="row">
      <div class="col-sm-4">
        <span class="fa fa-youtube-play"></span>
        <h4>Step by Step</h4>
        <p>Hint will walk you through maintenance or repairs with simple video and text guides.</p>
      </div>      
      <div class="col-sm-4">
        <span class="fa fa-mobile"></span>
        <h4>Face-time</h4>
        <p>If you get stuck or need help, Hint can put a repairman over your shoulder with video chat.</p>
      </div>      
      <div class="col-sm-4">
        <span class="fa fa-truck"></span>
        <h4>In Person</h4>
        <p>We know you might not always have time, so we'll get a repairman to your home.</p>
      </div>
    </div>
  </div>
</section>




<section class="appliances" id="hintstack">
  <div class="container">
    <h2>At home in any room.</h2>
    <p class="sub text-center">No more to-do lists, no more worrying. Just attach a Hintbox to anything you want insight on, Hint will text or call you when your attention is needed. </p>
    <div class="row">

      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/deepcool.jpg)"></div>
          <div class="text">Deep Freeze</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>5</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/freshandcool.jpg)"></div>
          <div class="text">Refrigerator</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>8</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/washanddry.jpg)"></div>
          <div class="text">Washer &amp; Dryer</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>8</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>


    </div>  
    <div class="row">

      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/heatandcool.jpg)"></div>
          <div class="text">Heating &amp; Cooling</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>25</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/pumpit.jpg)"></div>
          <div class="text">Sump Pump</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>12</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="wrap">
          <div class="appliance" style="background:url(assets/images/appliances/hotwater.jpg)"></div>
          <div class="text">Water Heater</div>
          <div class="row">
            <div class="col-xs-6">
              <strong>10</strong> Alerts
            </div>
            <div class="col-xs-6">
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar active fa fa-dollar"></span>
              <span class="dollar fa fa-dollar"></span>
              Savings
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>  
</section>

<section class="contact" id="contact">
  <div class="container">
    <h2>Get a Hint.</h2>
    <p class="sub">We're still tweaking Hint to be the best at helping you with home maintenance. If you'd like to reserve yours today, we'll make it worth your while. </p>
      <form class="form-horizontal" action="sendMessage()">
         <div ng-show="formStatus == 'sending'">
            <h3>Reserving your Hint...</h3>
         </div>
         <div ng-show="formStatus == 'success'">
            <h3>Your Hint has been reserved!</h3>
         </div>
         <fieldset ng-hide="formStatus">
              <div ng-show="formStatus == 'issue'">
                <h3 class="error">Sorry there has been an issue, please retry</h3>
              </div>
            <!-- Text input--> 
            <div class="form-group row">
               <label class="col-md-4 control-label" for="textinput">Name</label> 
               <div class="col-md-5"> <input ng-model="hintForm.name" type="text" placeholder="" class="form-control input-md"> </div>
            </div>

            <!-- Text input--> 
            <div class="form-group row">
               <label class="col-md-4 control-label" for="textinput">Phone</label> 
               <div class="col-md-4"> <input ng-model="hintForm.phone" type="text" placeholder="" class="form-control input-md"> </div>
            </div>

            <!-- Text input--> 
            <div class="form-group row">
               <label class="col-md-4 control-label" for="textinput">Email</label> 
               <div class="col-md-4"> <input ng-model="hintForm.email" type="text" placeholder="" class="form-control input-md"> </div>
            </div>
            <!-- Multiple Checkboxes --> 
            <div class="form-group row">
              <h3 class="text-center">I'd like to reserve</h3>
              <hr>
               <div class="col-sm-8 col-sm-offset-2">
                  <div class="checkbox"> 
                    <label for="checkboxes-0" class="row"> 
                      <input ng-model="hintForm.contact.Deep_Freeze" type="checkbox" name="checkboxes" id="checkboxes-0" value="Deep Freeze" class="left">
                      <div class="left">Deep Freeze</div>
                      <div class="right">                        
                        <strike><span class="fa fa-dollar"></span>150.00</strike>
                        <strong><span class="fa fa-dollar"></span>129.99</strong>
                      </div>

                    </label> 
                    </div>
                  <div class="checkbox"> 
                    <label for="checkboxes-1" class="row"> 
                      <input ng-model="hintForm.contact.Heating_Cooling" type="checkbox" name="checkboxes" id="checkboxes-1" value="Heating and Cooling" class="left">
                      <div class="left">Heating and Cooling</div>
                      <div class="right">                        
                        <strike><span class="fa fa-dollar"></span>400.00</strike>
                        <strong><span class="fa fa-dollar"></span>299.99</strong> 
                      </div>
                    </label> 
                  </div>
                  <div class="checkbox"> 
                    <label for="checkboxes-2" class="row"> 
                      <input ng-model="hintForm.contact.Refrigerator" type="checkbox" name="checkboxes" id="checkboxes-2" value="Refrigerator" class="left">
                      <div class="left">Refrigerator</div>
                        <div class="right">
                          <strike><span class="fa fa-dollar"></span>175.00</strike>
                          <strong><span class="fa fa-dollar"></span>149.99</strong>
                        </div>
                    </label> 
                    </div>
                  <div class="checkbox"> 
                    <label for="checkboxes-3" class="row"> 
                      <input ng-model="hintForm.contact.Sump_Pump" type="checkbox" name="checkboxes" id="checkboxes-3" value="Sump Pump" class="left">
                      <div class="left">Sump Pump</div>
                        <div class="right">
                          <strike><span class="fa fa-dollar"></span>150.00</strike>
                          <strong><span class="fa fa-dollar"></span>129.99</strong>
                        </div>
                    </label> 
                    </div>
                  <div class="checkbox"> 
                    <label for="checkboxes-4" class="row"> 
                      <input ng-model="hintForm.contact.Water_Heater" type="checkbox" name="checkboxes" id="checkboxes-4" value="Water Heater" class="left">
                      <div class="left">Water Heater</div>
                      <div class="right">  
                        <strike><span class="fa fa-dollar"></span>175.00</strike>
                        <strong><span class="fa fa-dollar"></span>149.99</strong>
                      </div>
                    </label> 
                  </div>
                  <div class="checkbox"> 
                    <label for="checkboxes-5" class="row"> 
                      <input ng-model="hintForm.contact.Washer_Dryer" type="checkbox" name="checkboxes" id="checkboxes-5" value="Washer and Dryer" class="left">
                      <div class="left">Washer and Dryer</div>
                      <div class="right">
                        <strike><span class="fa fa-dollar"></span>175.00</strike>
                        <strong><span class="fa fa-dollar"></span>149.99</strong>
                      </div>
                    </label> 
                  </div>
               </div>
            </div>
              <br>

            <button type="button" class="button" ng-click="sendMessage()">Reserve My Hint</button> 
         </fieldset>
      </form>
    </div>
</section>
